apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: flux-system
spec:
  interval: 12h
  type: oci
  url: oci://ghcr.io/prometheus-community/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-crds
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: prometheus-operator-crds
      version: "26.0.0" # {"$imagepolicy": "flux-system:prometheus-crds:tag"}
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      interval: 12h
  install:
    crds: Create
    timeout: 9m
  upgrade:
    crds: CreateReplace
    timeout: 9m
