vmsingle:
  route:
    enabled: true
    parentRefs:
      - name: private-gateway
        namespace: envoy-gateway-system
    hostnames:
      - vmks.${EXTERNAL_DOMAIN}

grafana:
  route:
    main:
      enabled: true
      parentRefs:
        - name: private-gateway
          namespace: envoy-gateway-system
      hostnames:
        - grafana.${EXTERNAL_DOMAIN}
